*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
.img-height{
    height: 250px;
    
}
.img-height img{
    transition: 0.7s all ease-out;
}
.img-height:hover img{
    transform: scale(1.5);
}
.card-height{
    height: 500px;
}
.img-fit{
    object-fit: cover;
}


